<template>
  <button @click="$emit(label)" class="button-tag">
    {{ label.charAt(0).toUpperCase() + label.slice(1) }}
  </button>
</template>

<script>
export default {
  props: { label: String }
};
</script>

<style>
.button-tag {
  @apply bg-mypurple-dark rounded-md p-3 text-white w-24 font-bold;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button-tag:focus {
  outline: none;
}

.button-tag:hover {
  background-color: rgb(149, 0, 149);
}

.button-tag:active {
  background-color: rgb(71, 0, 71);
}
</style>
