<template>
  <div class="user-container">
    <div class="image">
      <img
        v-show="!errors"
        src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairTheCaesar&accessoriesType=Blank&hairColor=Black&facialHairType=MoustacheFancy&facialHairColor=Black&clotheType=BlazerSweater&eyeType=Cry&eyebrowType=UpDown&mouthType=Vomit&skinColor=Yellow"
      />
    </div>
    <div class="info" v-show="!errors">
      <span class="info-label">Email:</span>{{ this.email }}
      <span><span class="info-label">Username:</span>{{ this.username }}</span>
    </div>

    <div class="errors">
      <img
        class="img-error"
        v-show="errors"
        src="https://image.flaticon.com/icons/png/512/564/564617.png"
        alt=""
      />
      <div class="error-message" v-show="errors">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      username: "",
      errors: false,
      errorMessage: ""
    };
  },
  mounted() {
    this.getUserData();
  },
  methods: {
    async getUserData() {
      console.log(document.cookie);
      document.cookie.split("; ").find(i => i.startsWith("token="));
      const user = await this.$axios
        .$get(`http://localhost:3001/600/users/${this.$route.params.id}`, {
          headers: {
            Authorization: `Bearer ${
              document.cookie
                .split("; ")
                .find(key => key.startsWith("token="))
                .split("=")[1]
            }`
          }
        })
        .catch(err => {
          this.errors = true;
          this.errorMessage = err.response.data;
        });
      if (user) {
        this.email = user.email;
        this.username = user.username;
      }
    }
  }
};
</script>

<style>
.user-container {
  @apply flex flex-row w-1/3 items-center select-none text-lg justify-center;
}

.info {
  @apply text-purple-600 flex flex-row flex-wrap w-1/2;
}

.info-label {
  @apply font-bold mr-2 text-purple-700;
}

.username {
  flex-basis: 100%;
}

.error-message {
  @apply text-red-600 font-bold text-2xl text-center w-2/3;
}

.errors {
  @apply flex items-center flex-col justify-center;
}

.img-error {
  @apply h-64 mb-8;
}
</style>
