<template>
  <div class="default-container">
    <Nuxt />
  </div>
</template>
<style>
body,
html {
  @apply h-full;
}

.default-container {
  @apply h-full bg-mypurple flex items-center justify-center;
}

#__nuxt,
#__layout {
  height: 100% !important;
}
</style>
