<template>
  <div class="main-container">
    <div class="title">Sign up</div>
    <div class="input-container">
      <input
        class="input"
        :class="{ 'invalid-field': !validateEmail.result }"
        type="text"
        placeholder="Email"
        v-model="email"
      />
      <div class="error-field" :class="{ hide: validateEmail.result }">
        {{ validateEmail.message }}
      </div>
      <input
        class="input"
        :class="{ 'invalid-field': !validatePassword.result }"
        type="password"
        placeholder="Password"
        v-model="password"
      />
      <div class="error-field" :class="{ hide: validatePassword.result }">
        {{ validatePassword.message }}
      </div>
      <input
        class="input"
        :class="{ 'invalid-field': !validateUsername.result }"
        type="text"
        placeholder="Username"
        v-model="username"
      />
      <div class="error-field" :class="{ hide: validateUsername.result }">
        {{ validateUsername.message }}
      </div>
    </div>
    <div :class="{ hide: !errors }" class="error-field submit-error">
      {{ errorMessage }}
    </div>
    <div class="button-container">
      <Button class="button-tag" v-on:clear="clearFields" label="clear"
        >Clear</Button
      >
      <Button class="button-tag" v-on:submit="submitData" label="submit"
        >Submit</Button
      >
    </div>
    <NuxtLink to="sign-in" class="sign-in-redirect">
      Already have an account? Sign in!
    </NuxtLink>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      username: "",
      errors: false,
      errorMessage: "error"
    };
  },
  methods: {
    clearFields() {
      this.email = this.password = this.username = "";
      // console.log(this.email);
    },
    async submitData() {
      if (this.allFieldsValid) {
        this.errors = false;
        const response = await this.$axios
          .$post("http://localhost:3001/register", {
            email: this.email,
            password: this.password,
            username: this.username
          })
          .catch(err => {
            this.errorMessage = err.response.data;
            this.errors = true;
          });
        if (response) {
          console.log("RESPONSE:", response);
          this.updateState(response.accessToken);
          const userId = await this.findUserId();
          this.$router.push(`/users/${userId}`);
        }
      } else {
        this.errors = true;
        this.errorMessage = "Ops! Some fields were not correctly filled";
      }
    },
    updateState(token) {
      this.$store.commit("users/setEmail", this.email);
      this.$store.commit("users/setUsername", this.username);
      this.$store.commit("users/setAccessToken", token);
      document.cookie = `token=${token}`;
      // console.log("Getting from store:", this.$store.state.users.email);
      // console.log("Getting from store:", this.$store.state.users.username);
      // console.log("Getting from store:", this.$store.state.users.token);
    },
    async findUserId() {
      const users = await this.$axios.$get("http://localhost:3001/users");
      // console.log("users:", users);
      const filtered = users.filter(user => {
        return user.email === this.email;
      })[0];
      if (filtered) {
        return filtered.id;
      }
    }
  },
  computed: {
    allFieldsValid() {
      return (
        this.validateEmail.result &&
        this.validatePassword.result &&
        this.validateUsername.result
      );
    },
    validateEmail() {
      if (this.email.length === 0)
        return {
          result: false,
          message: "Email must be non-empty"
        };

      const reg = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (!reg.test(this.email))
        return {
          result: false,
          message: "Invalid email"
        };

      return {
        result: true,
        message: "dummy"
      };
    },
    validatePassword() {
      if (this.password.length === 0)
        return {
          result: false,
          message: "Password must be non-empty"
        };

      const reg = /^[a-z0-9]+$/i;
      if (this.password.length < 8)
        return {
          result: false,
          message: "Password must have at least 8 characters"
        };
      if (this.password.length > 32)
        return {
          result: false,
          message: "Password must have a maximum of 32 characters"
        };
      if (!reg.test(this.password))
        return { result: false, message: "Password must be alphanumeric" };

      return {
        result: true,
        message: "dummy"
      };
    },
    validateUsername() {
      if (this.username.length === 0)
        return {
          result: false,
          message: "Username must be non-empty"
        };

      const reg = /^[a-z0-9]+$/i;
      if (!reg.test(this.username))
        return {
          result: false,
          message: "Username must be alphanumeric"
        };
      if (!isNaN(this.username[0]))
        return {
          result: false,
          message: "Username must start with a letter"
        };
      return {
        result: true,
        message: "dummy"
      };
    }
  }
};
</script>

<style scoped>
.input-container {
  @apply w-full mb-auto;
}

.title {
  @apply mb-4 text-2xl font-bold text-mypurple-dark mb-8;
}

.main-container {
  @apply bg-mypurple-light w-96 flex flex-col items-center justify-center shadow-md px-10 py-10;
  height: 33.5rem !important;
}

input {
  border-bottom: solid 1.5px;
  @apply mb-2 py-3 w-full border-gray-200 text-gray-800;
  -webkit-transition: border-bottom 0.4s ease-out;
  -moz-transition: border-bottom 0.4s ease-out;
  -o-transition: border-bottom 0.4s ease-out;
  transition: border-bottom 0.4s ease-out;
}

input:active,
input:focus {
  border-bottom: solid 1.5px rgb(182, 71, 255);
  /* @apply border-mypurple-dark; */
  outline: none;
}

.invalid-field:active,
.invalid-field:focus {
  border-bottom: solid 1.5px;
  @apply border-red-500;
}

.error-field {
  @apply italic text-red-500 text-sm;
}

.hide {
  visibility: hidden;
}

.submit-error {
  @apply mb-2;
}

.sign-in-redirect {
  @apply mt-4 text-mypurple-dark text-sm;
}
</style>
