<template>
  <div class="main-container">
    <div class="title">Sign in</div>
    <div class="input-container">
      <input class="input" type="text" placeholder="Email" v-model="email" />
      <input
        class="input"
        type="password"
        placeholder="Password"
        v-model="password"
      />
    </div>
    <div :class="{ hide: !errors }" class="error-field submit-error">
      {{ errorMessage }}
    </div>
    <div class="button-container">
      <Button class="button-tag" v-on:clear="clearFields" label="clear"
        >Clear</Button
      >
      <Button class="button-tag" v-on:submit="submitData" label="submit"
        >Submit</Button
      >
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      errorMessage: "error",
      errors: false
    };
  },
  methods: {
    clearFields() {
      this.email = this.password = "";
    },
    async findUserId() {
      const users = await this.$axios.$get("http://localhost:3001/users");
      // console.log("users:", users);
      return users.filter(user => {
        return user.email === this.email;
      })[0].id;
    },
    updateState(token) {
      this.$store.commit("users/setEmail", this.email);
      this.$store.commit("users/setUsername", this.username);
      this.$store.commit("users/setAccessToken", token);
      document.cookie = `token=${token}`;
    },
    async submitData() {
      if (this.email === "" || this.password === "") {
        this.errors = true;
        this.errorMessage = "All fields must be filled";
      } else {
        const response = await this.$axios
          .$post("http://localhost:3001/login", {
            email: this.email,
            password: this.password
          })
          .catch(err => {
            (this.errors = true), (this.errorMessage = err.response.data);
          });
        if (response) {
          console.log("RESPONSE:", response);
          this.updateState(response.accessToken);
          const userId = await this.findUserId();
          this.$router.push(`/users/${userId}`);
        }
      }
    }
  }
};
</script>

<style>
.input-container {
  @apply w-full h-full mb-1 flex flex-row flex-wrap justify-around py-2;
}

.title {
  @apply mb-4 text-2xl font-bold text-mypurple-dark mb-8;
}

.main-container {
  @apply bg-mypurple-light w-96 flex flex-col items-center justify-center shadow-md px-10 py-10;
  height: 24rem;
}

input {
  border-bottom: solid 1.5px;
  @apply border-gray-200 h-12 w-full text-gray-800;
  -webkit-transition: border-bottom 0.4s ease-out;
  -moz-transition: border-bottom 0.4s ease-out;
  -o-transition: border-bottom 0.4s ease-out;
  transition: border-bottom 0.4s ease-out;
}

input:active,
input:focus {
  /* @apply border-b border-mypurple-dark; */
  border-bottom: solid 1.5px rgb(182, 71, 255);
  outline: none;
}

.hide {
  visibility: hidden;
}

.error-field {
  @apply italic text-red-500 text-sm mb-4;
}
</style>
